doctype html
html
  head
      block head
        title="Snack Overflow"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/nav_bar.css')
        link(rel='stylesheet' href='/stylesheets/layout.css')
        link(rel='stylesheet' href='/stylesheets/questions-create.css')
        link(rel='stylesheet' href='/stylesheets/questions-read.css')
        link(rel='icon' href='/snack_overflow_logo.png')
        script(src="https://kit.fontawesome.com/55a10d2b42.js" crossorigin="anonymous")

  body
    nav
      div(class="nav_bar_content")
        div(class="list")
          div(class="nav_bar_left")
            div.logo-title: a(href="/" class="homepage_link")
              div.logo-title-alignment
                li(id="so_logo"): img(src="/snack_overflow_logo.png", alt="snack overflow" width="35px" height="35px")
                li Snack
                  strong Overflow
            li: a(href="/questions") Questions
            if locals.authenticated
              li: a(href="/questions/new") Ask a Question

          div(class="search_div")
            form(class="search_form" action="/search")
              span.fa-solid.fa-magnifying-glass
              input(id="search-bar" name="q" placeholder="Search Questions")
          div(class="login-logout")
            if locals.authenticated
              li: a(href=`/users/${locals.user.id}`) Profile
              li: a(href="/users/logout") Logout
            else
              li: a(href="/users/login") Login
              li: a(href="/users/signup") Sign Up
    block content
  footer
