extends layout
append head
  link(rel='stylesheet' href='/stylesheets/sign_up.css')
  script(src="/javascripts/sign-up-modal.js" type="module" defer)

block content

    .modal#myModal
        .modal-content.modal1
            ul.modal-ul
                li.name.mason Mason Kogami
                    .icons
                        i: a(href="https://github.com/MasonKogami" target="_blank").fa-brands.fa-github-square
                        i: a(href='https://www.linkedin.com/in/mason-kogami-74b789231/' target='_blank').fa-brands.fa-linkedin
        .modal-content
            ul.modal-ul
                li.name.nick Nick Yuan
                    .icons
                        i: a(href="https://github.com/Nick-Yawn" target="_blank").fa-brands.fa-github-square
                        i: a(href='https://www.linkedin.com/in/nick-yawn/' target='_blank').fa-brands.fa-linkedin
        .modal-content
            ul.modal-ul
                li.name.sam Samuel Kramer
                    .icons
                        i: a(href="https://github.com/samuelrkramer" target="_blank").fa-brands.fa-github-square
                        i: a(href='https://www.linkedin.com/in/sam-kramer-3b20b1235/' target='_blank').fa-brands.fa-linkedin
        .modal-content.modal4
            ul.modal-ul
                li.name.jon Jon Moore
                    .icons
                        i: a(href="https://github.com/jonevanmoore" target="_blank").fa-brands.fa-github-square
                        i: a(href='https://www.linkedin.com/in/jonevanmoore/' target='_blank').fa-brands.fa-linkedin
            span(class="close")

    .container-all
        .why-join-div
            h1 Join the Snack Overflow Community
            .join-us
                ul.first-ul
                    li.first-li Get unstuck — ask a question
                ul.second-ul
                    li.second-li Engage with other foodies by voting and commenting
                ul.third-ul
                    li.third-li Share your favorite meals
                ul.fourth-ul
                    li.fourth-li Leave with other great recipes
                br
                br
                .future-employees
                    text.below-icons Want to know your future employees better?
                    button(id="modalBtn") Click here

        .sign-up-form-container
            .demo-div
                form(action='/users/demologin')
                    button.demo-login-button(type='submit')
                        i.fas.fa-user
                        text Log in with Demo User
            .user-sign-up-div
                form(action="/users/signup" method="POST")
                    input(type="hidden" name="_csrf" value=token)
                    .sign-up-criteria
                        .sign-up-username-div
                            .username-div Username
                            input.sign-up-input.username-input(type="text" name="username")
                            .username-error-div
                            .username-valid-div

                        .sign-up-email-div
                            .email-div Email
                            input.sign-up-input.email-input(type="text" name="email")
                            .email-error-div
                            .email-valid-div

                        .sign-up-password-div
                            .password-div Password
                            input.sign-up-input.password-input(type="password" name="password")
                            .password-error-div
                            .password-valid-div

                        .sign-up-confirm-pass-div
                            .confirm-pass-div Confirm Password
                            input.sign-up-input.confirm-pass-input(type="password" name="confirm_password")
                            .confirm-pass-error-div
                            .confirm-pass-valid-div
                    div
                        button.sign-up-button Sign Up
                        .sign-up-error-div
                        .sign-up-form-valid-div
            div.login-links
                div.login-links-top
                    text Already have an account?
                    a(href='/users/login') Log in
                br
                div.login-links-bottom
                    text Are you an employer?
                    a(href='https://github.com/jonevanmoore/snack-overflow-group-project' target='_blank') Check out our GitHub!
                    i.fas.fa-arrow-up-right-from-square
        .error-container
            if errors
                 each error in errors
                    pre.error-style= error




        .hidden-data
            each user in userList
                label.existing-user= user.dataValues.username
            each email in userList
                label.existing-email= email.dataValues.email
