extends layout

append head
  link(rel='stylesheet' href='/stylesheets/login.css') 

block content
  if errors
    each error in errors
      pre= error
  div.login-container
    img.login-logo(src='/snack_overflow_logo.png')
    form(action='/users/demologin')
      button.demo-login-button(type='submit')
        i.fas.fa-user
        text Log in with Demo User
    form.login-form-container(action='/users/login' method='POST')
      input(type='hidden' name='_csrf' value=token)
      div.login-email-div
        div.login-label Email
        input.login-input(type='text' name='email' required)
      div.login-password-div
        div.login-label Password
        input.login-input(type='password' name='password' required)
      button.login-button Log in
    div.login-links
      div.login-links-top
        text Don't have an account?
        a(href='/users/signup') Sign Up
      div.login-links-bottom
        text Are you an employer?
        a(href='https://github.com/jonevanmoore/snack-overflow-group-project' target='_blank') Check out our GitHub!
          i.fas.fa-arrow-up-right-from-square
