nav {
    display: flex;
    justify-content: center;
    box-shadow: 0px 3px 3px gainsboro;
    width: 100%;
    background-color: #F8F9F9;
}

.nav_bar_content {
    padding: 10px;
    width: 1350px;
    width: 100vw;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav_bar_left>li>a {
    text-decoration: none;
}

.nav_bar_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Helvetica;
    flex-shrink: 0;
    flex-grow: 0;
}

.nav_bar_left>* {
    margin: 0 10px;
}

.logo-title {
    display: flex;
    align-items: center;
}

.homepage_link {
    text-decoration: none;
}

.logo-title-alignment {
    display: flex;
    align-items: center;
}

.login-logout {
    display: flex;
    align-items: center;
    width: 120px;
    justify-content: space-between;
    flex-shrink: 0;
    flex-grow: 0;
}

.login-logout>li>a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.search_div {
    flex-basis: 750px;
    flex-shrink: 1;
    flex-grow: 1;
    margin: 0px 10px;
}

#search-bar {
    width: 90%;
    border: black 1px solid;
    border-radius: 3px;
    padding: 8px 9px 8px 32px;
}

.search_form {
    display: inline-block;
    width: 100%;
}

.fa-solid {
    position: relative;
    top: 1px;
    left: 25px;
    color: darkgray;
}

.fa-github {
    color: rgb(0, 0, 0);
    opacity: 60%;
    font-size: 40px;
    margin-left: 40px;
}

.fa-github:hover {
    opacity: 100%;
}
