.layout {
  width: 1100px;
  padding: 24px;
}

.body-content {
  height: 100%; 
  width: 100%;
}

.title-bar {
  display: flex;
  justify-content: space-between;
  width: auto;
  margin-bottom: 8px;
} 

.title {
  max-width: 900px;
}

.title-ask-question-button {
  border-radius: 4px;
  color: white;
  background-color: rgb(10, 149, 255);
  border: 1px solid rgba(10,149,255,.3); 
  padding: 0px 10px; 
  height: 100%;
  max-height: 37px;
  position: relative;
  top: 20px;
}

.subheading-bar {
  display: flex;
  align-items: start;
  padding-bottom: 8px;
  border-bottom: solid 1px rgba(0,0,0,.3);
  margin-bottom:16px;
}

.subheading-bar > div > span {
  color: darkgrey;
  margin-right: 7px;
}

.subheading-bar > div > * {
  font-size: 13px;
}

.subheading-bar > div {
  margin: 0 16px 8px 0;
}
