.questionBox {
    /* background-color: orange; */
    width: 100%;
}

.body-content {
  height: 100%;
  width: 60%;
}

.question-title {
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  color: rgb(10, 149, 255);
}

.question-title:hover{
  color: blue;
}

.Qpreview {
  font-size: 15px;
}

.Qbox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.Qusername {
  padding: 16px;
  background-color: #e1ecf4;
  border-radius: 8px;
  display: flex;
  align-items: center;
  order: 1;
}

.Qusername > a {
  padding: 5px;
  text-decoration: none;
}