body {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    font-family: helvetica;
    height: 100%;
}

.edit-body {
    width: 800px;
    height: 340px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 10px 25px rgb(0 0 0 / 15%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.edit-buttons {
    display: flex;
    margin: 6px 0px;
    padding: 8px;
}

.submit-edit {
    background-color: green;
    text-decoration: none;
    border: none;
    margin: 6px 0px;
}

.cancel-edit {
    background-color: yellow;
    text-decoration: none;
    border: none;
    margin: 6px 0px;
}

.delete-edit {
    background-color: red;
    text-decoration: none;
    border: none;
    margin: 6px 0px;
}

.title-div > input{
    margin: 6px 0px;
    width: 600px;
}

.body-div > textarea{
    margin: 6px 0px;
    width: 600px;
}

.image-links > div {
    display: grid;
    
}

.image1-div {
    margin: 6px 0px;
}

.image2-div {
    margin: 6px 0px;
}

.image3-div {
    margin: 6px 0px;
}