form(action="/" method="GET")
    div
        label(for="email") Email
        input(type="text" name="email" required)
    div 
        label(for="password") Password
        input(type="password" name="password" required)
    div 
        button Login