extends layout

block content
    if errors
        error in errors
            pre= error
    form(action="/questions/new" method="POST")
        input(type="hidden" name="_csrf" value=token)
        div
            label(for="title") Title 
            input(type="text" name="title" required)
        div 
            label(for="body") Body 
            textarea(name="body" required)
        div 
            label(for="image_link1") Image URL
            input(type="text" name="image_link1" placeholder="...")
        div 
            label(for="image_link2") Image URL
            input(type="text" name="image_link2" placeholder="...")
        div 
            label(for="image_link3") Image URL
            input(type="text" name="image_link3" placeholder="...")
        div 
            button(type="submit") Submit Question 
            button(type="reset") Cancel