extends layout

block content
  if errors
    each error in errors
      pre= error

  form(action="/users/login" method="POST")
    input(type="hidden" name="_csrf" value=token)
    div
      label(for="email") Email
      input(type="text" name="email" required)
    div
      label(for="password") Password
      input(type="password" name="password" required)
    div
      button Login
  div: a(href="/users/demologin") Or log in with a demo user...
